@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    height:100%;
    width:100%
}
body {
    background:rgb(11, 13, 15);
    color:azure;
    font-family: 'Roboto', sans-serif;
    margin:auto;
    padding:auto;
    text-align: center;
    user-select: none
}
#grid {
    border-spacing: 1.5em;
    border-collapse: separate;
    margin:auto;
    table-layout: fixed;
    background: rgb(61,71,69);
    background: linear-gradient(149deg, rgba(61,71,69,1) 0%, rgba(54,54,54,1) 48%, rgba(25,28,28,1) 100%);
    border-radius: 10px;
}
.box {
    background:rgb(160, 160, 160);
    color:rgb(58, 58, 58);
    text-align: center;
    border-radius: 20%;
    cursor:grab;
    font-size:3em;
    transition:ease-in-out;
    transition-duration: .1s;
    width:100px;
    height:100px;
    box-sizing: border-box;
    border-width:0px;
    border: 0 solid;
    &:hover {
        background:rgba(88, 88, 88, 0.568);
        transition-duration: .1s;
        color:white
    }
}

.selected {
    transition-duration: .1s;
    transition:ease-in-out;
    background:rgb(0, 114, 9);
    color:white;
    border:solid white;
    border-width:4px;
}

.start {
    background:rgb(187, 255, 187);
    color: black;
    font-weight: bold;
}

.grid {
    cursor:auto
}

main {
    margin: 0 auto;
}