@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background:black;
    color:rgb(58, 58, 58);
    font-family: 'Roboto', sans-serif;
    margin:auto;
    padding:auto;
    text-align: center;
}
table {
    border-spacing: 1em;
    border-collapse: separate;
    margin:auto;
}
p {
    color:white
}
td {
    background:rgb(160, 160, 160);
    text-align: center;
    border-radius: 100%;
    cursor:grab;
    font-size:5vh;
    transition:ease-in-out;
    transition-duration: .1s;
    padding:5vh
}
.box:hover {
    background:rgba(88, 88, 88, 0.568);
    transition-duration: .1s;
    color:white
}

.selected {
    transition-duration: .1s;
    transition:ease;
    background:rgb(0, 114, 9);
    color:white
}

.start {
    background:rgb(187, 255, 187);
    color: black;
    font-weight: bold;
}

.grid {
    cursor:auto
}

main {
    margin: 0 auto;
}